<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hfad.myapplication">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:icon="@mipmap/applogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/applogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true">
        <activity android:name=".AdminActivity" />
        <activity android:name=".ListOfNotes" />
        <activity android:name=".TeacherUploadNotes" />
        <activity android:name=".ViewAssignmentAnswer" />
        <activity android:name=".RetrieveAnswer" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SignUpActivity" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SlpashScreen" android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EditNoteActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AssignmentActivityFetchStudent" />
        <activity android:name=".ListOfAssignments" />
        <activity android:name=".EditProfile" />
        <activity android:name=".ViewOrRateAssignment"/>
        <activity android:name=".ActivityForRating"/>
        <activity android:name=".ActivityForGettingGrades"/>
        <activity android:name=".ActivityForSyllabus"/>
    </application>

</manifest>